@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-success-variant: #36BA8E;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    --color-: #;


    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

html {
    font-size: 14px;

}

body {
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
}

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: auto 50rem;
}

a {
    color: var(--color-dark);
    cursor: pointer;
    transition: all 300ms ease;
}

a:hover {
    color: var(--color-dark)
}


.anchor-edit {
    color: var(--color-warning);
    font-weight: 600;
    margin-right: 1rem;
}

.anchor-delete {
    color: var(--color-danger);
    font-weight: 600;
}

.edit {
    width: 30%;
    background-color: var(--color-warning);
    color: var(--color-dark);
    padding: .5rem .5rem;
    margin: 1rem 1rem;
    border: none;
    border-radius: var(--border-radius-3);
    cursor: pointer;
    font-weight: 600;
    transition: all 300ms ease;
}

.edit:hover {
    background-color: #dda248;
    color: var(--color-info-light);
}



.delete {
    width: 30%;
    background-color: var(--color-danger);
    color: var(--color-dark);
    padding: .5rem .5rem;
    margin: 1rem 1rem;
    border: none;
    border-radius: var(--border-radius-3);
    cursor: pointer;
    font-weight: 600;
    transition: all 300ms ease;
}

.delete:hover {
    background-color: #d66670;
    color: var(--color-info-light);
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

input[type=text], input[type=number] {
    font-size: 1.4rem;
    
    width: 100%;
    padding: 1rem 1rem;
    margin-top: .5rem;
    margin-bottom: 1rem;
    border: 2px solid #ccc;
    border-radius: var(--border-radius-2);
    box-sizing: border-box;
    transition: all 300ms ease;
}

input[type=text]:focus, input[type=number]:focus {
    border: 2px solid var(--color-primary);
}

input[type=submit]{
    width: 100%;
    background-color: var(--color-success);
    color: var(--color-dark);
    padding: 1rem 1rem;
    margin: 1rem 1rem;
    margin-left: 2rem;
    border: none;
    border-radius: var(--border-radius-3);
    cursor: pointer;
    font-weight: 600;
    transition: all 300ms ease;
}


input[type=submit]:hover{
    background-color: var(--color-success-variant);
    color: var(--color-white);
}

select {
    padding: 1rem 1rem;
    margin-top: .5rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    border: 2px solid #ccc;
    border-radius: var(--border-radius-1);
    box-sizing: border-box;
    transition: all 300ms ease;
}

select:hover {
    border: 2px solid var(--color-primary);
}

label {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-dark);
}

small {
    font-size: 0.75rem;
}

.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    color: var(--color-info-dark);
}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary)
}

.danger {
    color: var(--color-danger)
}

.success {
    color: var(--color-success)
}

.warning {
    color: var(--color-warning)
}

/*================= MAIN =================*/
main {
    margin-top: 1.4rem;
}

.main-heading {
    font-size: 2.5rem;
}

/*-----------FIRST ROW-----------*/

/*Container for books totals including fiction, arts, sciences, filipiana, and magazine.*/
main .book-tally-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    align-items: center;
    justify-items: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

/*hover effect*/
main .book-tally-container:hover {
    box-shadow: none;
}

/*Container for overall total*/
main .book-tally-container > .books-total-container{
    margin-right: 2rem;
}

main .book-tally-container > .magazine-total-container{
    padding-right: 0;
}

/*Total Books*/
.heading-total {
    font-size: 1.3rem;
}

/*Value of Total Books*/
.value-total {
    font-size: 3rem;
}

/*-----------END OF FIRST ROW-----------*/

/*-----------SECOND ROW-----------*/
.book-conditions-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

.book-conditions-container > div {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    justify-items: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.book-conditions-container > div:hover {
    box-shadow: none;
}
/*-----------END OF SECOND ROW-----------*/

/*-----------THIRD ROW-----------*/
.input-fields-container {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    align-items: center;
    justify-items: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.input-fields-container:hover {
    box-shadow: none;
}

.dropdowns-container {
    display: flex;
    align-items: center;
    justify-items: left;
}

.dropdowns-container > div{
    margin-right: 2rem;
}

.submit-button {
    justify-content: right;
}


/*-----------END OF THIRD ROW-----------*/
/*================= END OF MAIN =================*/

/*================= RIGHT =================*/


.book-status-container {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    align-items: center;
    justify-items: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.table-records table{
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.table-records:hover {
    box-shadow: none;
}

table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

table tbody tr:last-child td{
    border: none;
}

